@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  
}

:root{
    --blue : hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.wrapper{
    width: 400px;
    /* background-color: var(--Pale-Blue); */
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.hide{
    display: none;
}

.logo
{
    /* center the image using flex */
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
}

#heading{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

span{
    font-weight: 700;
}

#subscribe{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 40px;
}

input{

    padding: 15px 0px;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 17px;
    border-color: var(--Pale-Blue);
    text-align: center;

}

#notifybtn{
    background-color: var(--blue);
    color: white;
    padding: 15px 0px;
    width: 80%;
    border-radius: 20px;
    display: block;
    border: none;
    margin-bottom: 70px;
    cursor: pointer;
}

#notifybtn:hover{
    background-color: var(--Pale-Blue);
}


#ills{
    width: 80%;
}

.smlogos{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.smlogos img{
    width: 35px;
    margin: 10px;

}

footer p{
    font-size: 12px;
    text-align: center;
    color: var(--Gray);
}